# Compiled site
public

# Drafts
_drafts

# Optimised images pre site compilation
assets/images/[0-9][0-9][0-9][0-9]/**/resized

# Generated output
resources/

# Terminal guff
.rake_tasks~

# Bundler files
_vendor
.bundle

# Hugo crap
.hugo_build.lock
