 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a Web &amp; Mobile developer with a passion for Mobile technologies, Agile, DevOps, Continuous Integration, Open Source, Front End Development, and Visual Design.</p>
                </div>
                <div class="col-lg-4">
                    <p>I have worked on both small and large development teams. Scrum based and waterfall. I have also worked closely with Product Owners during sprint planning, sprints, and retrospectives.</p>
                </div>
            </div>
        </div>
    </section>
