<!-- Contact information -->
<section id="contact-info">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>{{ site.contact.location }}</h3>
                <p>
                    {% for adress in site.address %}
                        {{ adress.line }}
                        <br>
                    {% endfor %}
                </p>
            </div>
            <div class="col-md-4">
                <h3>{{ site.contact.social }}</h3>
                <ul class="list-inline">
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-fw fa-{{ network.title }}"></i></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                <h3>{{ site.contact.credits }}</h3>
                <p>{{ site.credits }}</p>
            </div>
        </div>
    </div>
</section>
