<!-- Portfolio Modals -->
{% for project in site.portfolio %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ project.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{ project.title }}</h2>
                        <hr class="star-primary">
                        <img src="/assets/images/portfolio/{{ project.img }}" class="img-responsive img-centered" alt="{{ project.alt }}">
                        <p>{{ project.description }}</p>
                        <ul class="list-inline item-details">
                            {% if project.client %}
                            <li>Client:
                                <strong>{{ project.client }}</strong>
                            </li>
                            {% endif %}
                            {% if project.download %}
                            <li>{{ project.download-verb }}:
                                <strong>
                                    <a href="{{ project.download }}">{{project.download-description }}</a>
                                </strong>
                            </li>
                            {% endif %}
                            {% if project.project-date %}
                            <li>Date:
                                <strong>{{ project.project-date }}</strong>
                            </li>
                            {% endif %}
                            {% if project.languages %}
                            <li>Main Languages:
                                <strong>{{ project.languages }}</strong>
                            </li>
                            {% endif %}
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
