/*
 * Overrides for CSS from the hyde theme.
 */

body {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden auto;
}

@media (min-width: 48rem) {
  body {
    flex-direction: row;
    overflow-y: auto;
  }
}

.sidebar {
  padding: 2rem 1rem;
  color: rgba(255, 255, 255, .5);
  background-color: #202020;
  background-image: linear-gradient(to bottom, #323232, #202020);
  overflow-y: auto;
}

@media (max-width: 48rem) {
  .sidebar {
    width: 100%;
    padding: 0rem;
  }
}

@media (max-width: 48rem) {
  .content {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  max-width: none;
  overflow-y: auto;
}

a svg,
.icon svg {
  height: 1em;
  width: 1em;
  top: .125em;
  position: relative;
}

.sidebar nav>.icon {
  font-size: 1rem;
  display: inline-block;
  margin: 0 0.25em;
}

.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-family: "Abril Fatface", serif;
  font-size: 2.5rem;
  font-weight: normal;
}

@media (min-width: 48rem) {
  .sidebar-about h1 {
    font-size: 3rem;
  }
}

.sidebar-about>.lead {
  display: none;
}

@media (min-width: 48rem) {
  .sidebar-about>.lead {
    display: unset;
  }
}

#sidebar-nav-links {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

@media (min-width: 48rem) {
  #sidebar-nav-links {
    flex-flow: column;
  }
}

.sidebar-nav-label {
  display: none;
}

@media (min-width: 48rem) {
  .sidebar-nav-label {
    display: unset;
  }
}

#sidebar-nav-links a {
  font-weight: bold;
}

#sidebar-icon-links {
  display: flex;
  max-width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 1rem;
  justify-content: space-evenly;
}

#copyright {
  margin-top: 1em;
}

figure {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

figure figcaption {
  font-size: .8rem;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-inline-start: 40px;
  padding-inline-end: 40px;
}

.pagination .page-item {
  margin-right: 1em;
}

video {
  max-width: 50vw;
  display: block;
  margin: 0 auto;
}

@media (min-width: 48rem) {
  video {
    max-width: 25vw;
  }
}

.term-list-item {
  display: flex;
  align-items: baseline;
  gap: 0.5em;
  flex-wrap: wrap;
}

.post-date {
  display: flex;
  align-items: baseline;
  gap: 0.5em;
}

@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=zOL64pLDlL1D99S8g8PtiKchm-V0j6ezHXLYnlo&skey=3aaa84d7e0b4f9c7&v=v24) format('woff2');
}

/* latin-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsans/v17/jizYRExUiTo99u79D0e0ycmIEDQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsans/v17/jizYRExUiTo99u79D0e0x8mI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsans/v17/jizaRExUiTo99u79D0yExdGM.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsans/v17/jizaRExUiTo99u79D0KExQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsans/v17/jizfRExUiTo99u79B_mh0OCtLQ0Z.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsans/v17/jizfRExUiTo99u79B_mh0O6tLQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
