{{ define "main" }}
  <article class="tag-term-page">
    <header>
      <h1>Posts tagged with "{{ .Title }}"</h1>
      {{ with .Content }}
        <div class="tag-description">
          {{ . }}
        </div>
      {{ end }}
    </header>

    <section class="post-list">
      {{ range .Paginator.Pages }}
        <div class="post-item">
          <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
            {{- partial "post_time.html" . -}}
          <p>{{ .Summary }}</p>
          <a href="{{ .RelPermalink }}" class="read-more">Read More &rarr;</a>
        </div>
      {{ end }}
    </section>

    {{ partial "pagination.html" . }}
  </article>
{{ end }}