<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="{{ site.description }}" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml" />

    {% include common/favicon.html %}

    {% include common/styles.html %}

    <!-- Needs to be set in <head> as this is a shim -->
    <!-- Picturefill enables support for the picture element and associated features in browsers that do not yet support them. -->
    <script src="/js/picturefill.min.js" async></script>
</head>
