<aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}">
        <h1>{{ .Site.Title }}</h1>
      </a>
      <p class="lead">
        {{ with .Site.Params.description }} {{.}} {{end}}
      </p>
    </div>

    <nav id="sidebar-nav-links">
      <a href="{{ .Site.BaseURL }}">Home</a>
      <a href="{{ .Site.BaseURL }}categories/android">
        Android &nbsp; {{- partial "svg.html" "android" -}}
      </a>
    </nav>

    <nav id="sidebar-icon-links">
      {{ range .Site.Menus.main -}}
      <a rel="me" id="{{ .Name }}-link" class="icon" title="{{ .Name }}" aria-label="{{ .Name }}" href="{{ .URL }}">
        {{- partial "svg.html" .Name -}}
      </a>
      {{- end }}
    </nav>

    <p>&copy; {{ now.Format "2006"}}. <a href="/LICENCE">MIT Licence</a></p>
  </div>
</aside>